<form role="form" name="form">
    <div class="form-group">
        <label for="customerId-field">Customer ID</label>
        <input required
               cam-variable-name="customerId"
               cam-variable-type="String"
               class="form-control" />
    </div>
    <div class="form-group">
        <label for="amount-field">Amount</label>
        <input cam-variable-name="amount"
               cam-variable-type="Double"
               class="form-control" />
    </div>
    <div class="form-group">
        <label for="amount-field">Approved</label>
        <input cam-variable-name="approval"
               cam-variable-type="Boolean"
               class="form-control" />
    </div>
    <select required cam-variable-name="clearance" cam-variable-type="Boolean">
        <option value="true" checked>Zustimmen</option>
        <option value="false">Ablehnen</option>
    </select>
</form>