<form role="form" name="form">
    <div class="form-group">
        <label for="customerId-field">Customer ID</label>
        <input required
               cam-variable-name="customerId"
               cam-variable-type="String"
               class="form-control" />
    </div>
    <div class="form-group">
        <label for="amount-field">Amount</label>
        <input cam-variable-name="amount"
               cam-variable-type="Double"
               class="form-control" />
    </div>
</form>